* {
    box-sizing: border-box;
}

form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    min-width: 360px;
    max-width: 860px;
    font-family: 'Nunito', sans-serif;
}

input {
    width: 100%;
    height: 40px;
    font-size: inherit;
    line-height: 40px;
    border: 1px solid #e8ecf0;
    border-color: rgba(11, 127, 236, 0.733);
    background-color: white;
    border-radius: 4px;
    padding: 5px 5px 5px 10px;
    outline: none;
}

input:invalid {
    border-color: rgba(209, 50, 50, 0.692);
    box-shadow: none;
}


.error {
    width: 100%;
    margin-top: 5px;
    padding: 0;
    font-size: 90%;
    color: rgb(168, 69, 69);
}

.error.active {
    padding: 0.25em;
}

input#file {
    padding: 0;
    border: none;
}

input[type='file']::-webkit-file-upload-button {
    -webkit-appearance: none;
    height: 40px;
    width: 50%;
    border-radius: 5px;
    position: relative;
    top: -5px;
    border: none;
}

#delFiles {
    display: none;
    width: 10%;
    color: red;
    text-transform: uppercase;
    text-decoration: none;
}

#delFiles:hover {
    cursor: pointer;
}

select {
    height: 30px;
}

.notes-container {
    margin-top: 10px;
}

textarea {
    margin-top: 5px;
    width: 100%;
    color: #444141fb;
    padding-left: 4px;
    padding-top: 3px;
}

.image {
    display: none;
}

abbr {
    color: red;
}

button, #imageSelect {
    height: 40px;
    width: 100%;
    line-height: 40px;
    background: linear-gradient(to top right, rgba(0, 217, 255, 0.733), rgba(161, 92, 224, 0.877));
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    color: white;
    transition: box-shadow 0.3s;
}

button:hover, #imageSelect:hover {
    box-shadow: 5px 5px 15px rgb(0, 153, 255);
}


#imagePreview img {
    height: 80px;
    max-width: 40%;
}


.info, .deleteImage {
    display: inline-block;
    margin-left: 5%;   
}

.deleteImage {
    font-size: 120%;
    text-transform: uppercase;
    color: red;
}

.deleteImage:hover {
    cursor: pointer;
}


.nav {
    width: 20%;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: rgb(80, 128, 218);
    display: block;
    margin-top: 10px;
    padding: 7px 10px;
    border: 1px solid rgb(80, 128, 218);
    border-radius: 3px;
}

.nav.left {
    float: left;
}

.nav.right {
    float: right;
    visibility: hidden;
}

#second-section, #third-section {
    display: none;
}

button, #send {
    font-size: 18px;
    background: linear-gradient(to top right, rgba(0, 255, 213, 0.733), rgba(80, 128, 218, 0.877));
    margin-top: 10px;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
}

.search-field {
    position: relative;
}

.suggestionList {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    background: white;
    z-index: 2;
}

.highlight {
    background-color: #009cd9;
    color: #f4fafd;
}

.option {
    padding: 2px 2px 2px 10px;
}

.option:hover {
    background-color: #67cdf1;
  }

#citiesNumber {
    font-weight: 300;
    color: #b1b1b1;
    font-size: 12px;
    padding-left: 5px;
    padding-bottom: 8px;
  }


#notFound {
    height: 27px;
    padding-left: 3px;
    padding-top: 3px;
    color: #e4e4e4;
    font-size: 14px;
  }

label[for="warehouseSelect"] {
    display: inline-block;
    width: 100%;
}

#warehouseSelect {
    display: inline-block; 
    width: 100%;
    margin-bottom: 20px;
}

#third-section, #second-section > * {
    margin-top: 10px;
}

.cardName-container {
    clear: both;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.cardName-field {
    position: relative;
    display: inline-block;
    width: 93px;
    height: 47.5px;
}

.cardName-field:nth-child(2) {
    padding-left: 5px;
}

.cardName {
    position: absolute;
    width: 91px;
    height: 100%;
    z-index: 3;
    opacity: 0;
}

.card-image {
    position: relative;
    display: inline-block;
    height: 100%;
    background: url("../img/cards.png") no-repeat;
    background-size: 400px 65px;
    opacity: 0.7;
}

.cardName:checked + span {
    /* box-shadow: 4px 4px 8px #423932; */
    transform: scale(1.3);
    opacity: 1;
}

#visa, #visa + span {
    width: 93px;
}

#visa + span {
    background-position: -91px -9px;
}

#mastercard, #mastercard + span {
    width: 85.5px;
}

#mastercard + span {
    background-position: 0px -9px;
}

#americanexpress, #americanexpress + span {
    width: 90px;
}

#americanexpress + span {
    background-position: -304.5px -9px;
}

#discovernetwork, #discovernetwork + span {
    width: 90px;
}

#discovernetwork + span {
    background-position: -200px -9px;
}
 


.cardNumber, .cardNumber-label {
    display: inline-block;
}

.cardNumber-container {
    width: 100%;
}

.cardNumber {
    width: 13%;
}

.cardNumber:focus {
    box-shadow: 2px 2px 5px rgb(0, 153, 255);
}

@media (min-width: 500px) {
    #first-section input {
        float: right;
        width: 83%;
        margin-left: 2%;
    }

    #first-section > div:after {
        content: "";
        display: table;
        clear: both;
    }

    .error {
        clear: both;
        margin-left: 17%;
    }

    #first-section > div {
        margin-bottom: 1em;
    }

    #first-section label {
        display: inline-block;
        width: 15%;
    }

    section #birthday, section #telephone {
        float: none;
        width: 40%;
        min-width: 180px;
    }

    #imageSelect {
        width: 50%;
        margin-left: 17%;
    }

    #imagePreview {
        margin-left: 17%;
    }

    .cardName-container {
        margin-left: 10%;
    }
}

@media (min-width: 769px) {
    .cardName-container {
        margin-left: 20%;
    }
    section #birthday, section #telephone {
        float: none;
        width: 20%;
    }

    .cardNumber {
        width: 10%;
    }

}